/* Disabled the style reset as this CSS is not loaded first 
  meaning that the default button styles (and proabably a lot more
  are getting messed up. */

/* @tailwind base; */

.static {
  position: static
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.flex {
  display: flex
}

.w-full {
  width: 100%
}

.grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.justify-end {
  justify-content: flex-end
}

.justify-between {
  justify-content: space-between
}

.gap-5 {
  gap: 1.25rem
}

.gap-4 {
  gap: 1rem
}

.gap-2 {
  gap: 0.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-bold {
  font-weight: 700
}

.leading-loose {
  line-height: 2
}

.\[key\:string\] {
  key: string
}
